/*
------------------------------------------------
        First Step Card Section
------------------------------------------------
*/

@media (min-width:992px) and (max-width:1199px){
    #grilla {
        display: grid;
        grid-template-areas:
        "card1 card3"
        "card1 card3"
        "card2 card3"
        "card2 card3";
        grid-template-rows: 300px 300px; 
        grid-template-columns: 49% 49%;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
     }
     .card1 .form {
        position: relative;
        left: 5px;
        width: 300px;
        height: 600px;
     }
     .card1 .form .img-rank {
        width: 330px;
        margin-left: 80px;
     }
     .card1 .form .img-rank .division {
        margin-left: 70px;
        margin-top: 40px;
    }
     .card1 .form .container-rank {
        position: relative;
        top: 10px;
        left: 70px;
        width: 300px;
        height: 300px ;
    }
    .card1 .form .container-rank select {
        position: relative;
        left: 25px;
        top: 60px;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card2 {
        height: 500px;
    }
    .card2 .form {
        position: relative;
        left: 5px;
        width: 360px;
        height: 500px;
     }
     .card2 .form .img-rank {
         width: 330px;
         margin-left: 80px;
     }
     .card2 .form .img-rank .division {
        margin-left: 70px;
    }
     .card2 .form .container-rank {
        position: relative;
        top: 10px;
        left: 70px;
        width: 300px;
        height: 200px ;
    }
    .card2 .form .container-rank select {
        position: relative;
        left: 20px ;
        top: 40px ;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card3 .configuration {
        position: relative;
        left: 120px;
    }
    .card3 .test {
        position: relative;
        left: 0px !important;
        top: 0px !important;
    }
}

@media (min-width:900px) and (max-width:991px){
    #grilla {
        display: grid;
        grid-template-areas:
        "card1 card3"
        "card1 card3"
        "card2 card3"
        "card2 card3";
        grid-template-rows: 300px 300px; 
        grid-template-columns: 49% 49%;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
     }
     .card1 .form {
        position: relative;
        left: 5px;
        width: 300px;
        height: 600px;
     }
     .card1 .form .img-rank {
        width: 330px;
        margin-left: 20px;
     }
     .card1 .form .img-rank .division {
        margin-left: 70px;
        margin-top: 40px;
    }
     .card1 .form .container-rank {
        position: relative;
        top: 10px;
        left: 40px;
        width: 300px;
        height: 300px ;
    }
    .card1 .form .container-rank select {
        position: relative;
        left: 25px;
        top: 60px;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card2 {
        height: 500px;
    }
    .card2 .form {
        position: relative;
        left: 5px;
        width: 360px;
        height: 500px;
     }
     .card2 .form .img-rank {
         width: 330px;
         margin-left: 20px;
     }
     .card2 .form .img-rank .division {
        margin-left: 70px;
    }
     .card2 .form .container-rank {
        position: relative;
        top: 10px;
        left: 40px;
        width: 300px;
        height: 200px ;
    }
    .card2 .form .container-rank select {
        position: relative;
        left: 20px ;
        top: 40px ;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card3 .configuration {
        position: relative;
        left: 80px;
    }
    .card3 .test {
        position: relative;
        left: 0px !important;
        top: 0px !important;
    }
}

@media (min-width:768px) and (max-width: 899px) {
    #grilla {
        display: grid;
        grid-template-areas:
        "card1 card3"
        "card1 card3"
        "card2 card3"
        "card2 card3";
        grid-template-rows: 300px 300px; 
        grid-template-columns: 49% 49%;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
     }
     .card1 .form {
        position: relative;
        left: 5px;
        width: 300px;
        height: 600px;
     }
     .card1 .form .img-rank {
        width: 330px;
        margin-left: 20px;
     }
     .card1 .form .img-rank .division {
        margin-left: 70px;
        margin-top: 40px;
    }
     .card1 .form .container-rank {
        position: relative;
        top: 10px;
        left: 10px;
        width: 300px;
        height: 300px ;
    }
    .card1 .form .container-rank select {
        position: relative;
        left: 25px;
        top: 60px;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card2 {
        height: 500px;
    }
    .card2 .form {
        position: relative;
        left: 5px;
        width: 360px;
        height: 500px;
     }
     .card2 .form .img-rank {
         width: 330px;
         margin-left: 20px;
     }
     .card2 .form .img-rank .division {
        margin-left: 70px;
    }
     .card2 .form .container-rank {
        position: relative;
        top: 10px;
        left: 10px;
        width: 300px;
        height: 200px ;
    }
    .card2 .form .container-rank select {
        position: relative;
        left: 20px ;
        top: 40px ;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card3 .configuration {
        position: relative;
        left: 40px;
    }
    .card3 .test {
        position: relative;
        left: 0px !important;
        top: 0px !important;
    }
}

@media (min-width:411px) and (max-width:767px) {
    #grilla {
        display: grid;
        grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card3";
        grid-template-rows: 600px 500px 600px 500px; 
        grid-template-columns: 380px;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        margin-top: 20px;
        margin-left: 15px;
     }
     .card1 .form {
        position: relative;
        left: 5px;
        width: 300px;
        height: 600px;
     }
     .card1 .form .img-rank {
         margin-left: 20px;
         width: 400px;
     }
     .card1 .form .img-rank .division {
        margin-left: 70px;
        margin-top: 40px;
    }
     .card1 .form .container-rank {
        position: relative;
        top: 10px;
        left: 20px;
        width: 300px;
        height: 300px ;
    }
    .card1 .form .container-rank select {
        position: relative;
        left: 25px;
        top: 60px;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card2 {
        height: 500px;
    }
    .card2 .form {
        position: relative;
        left: 5px;
        width: 360px;
        height: 500px;
     }
     .card2 .form .img-rank {
         width: 330px;
         margin-left: 20px;
     }
     .card2 .form .img-rank .division {
        margin-left: 70px;
    }
     .card2 .form .container-rank {
        position: relative;
        top: 10px;
        left: 20px;
        width: 300px;
        height: 200px ;
    }
    .card2 .form .container-rank select {
        position: relative;
        left: 20px ;
        top: 40px ;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card3 .configuration {
        position: relative;
        left: 40px;
    }
    .card3 .test {
        position: relative;
        left: 0px !important;
        top: 0px !important;
    }
}

@media (min-width:375px) and (max-width:410px){
    #grilla {
        display: grid;
        grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card3";
        grid-template-rows: 600px 500px 600px 500px; 
        grid-template-columns: 340px;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        margin-top: 20px;
        margin-left: 20px;
     }
     .card1 .form {
        position: relative;
        left: 5px;
        width: 360px;
        height: 600px;
     }
     .card1 .form .img-rank {
         width: 330px ;
         margin-left: -10px;
     }
     .card1 .form .img-rank .division {
        margin-left: 70px ;
        margin-top: 40px ;
    }
     .card1 .form .container-rank {
        position: relative;
        top: 10px ;
        left: -5px ;
        width: 300px;
        height: 300px  ;
    }
    .card1 .form .container-rank select {
        position: relative;
        left: 25px ;
        top: 60px ;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card2 {
        height: 500px;
    }
    .card2 .form {
        position: relative;
        left: 5px;
        width: 360px;
        height: 500px;
     }
     .card2 .form .img-rank {
         width: 330px ;
         margin-left: -10px;
     }
     .card2 .form .img-rank .division {
        margin-left: 70px ;
    }
     .card2 .form .container-rank {
        position: relative;
        top: 10px ;
        left: -5px ;
        width: 300px;
        height: 200px ;
    }
    .card2 .form .container-rank select {
        position: relative;
        left: 20px ;
        top: 40px ;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card3 .configuration {
        position: relative;
        left: 20px;
    }
    .card3 .test {
        position: relative;
        left: 0px !important;
        top: 0px !important;
    }
}

@media (min-width: 360px) and (max-width:374px) {
    #grilla {
        display: grid;
        grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card3";
        grid-template-rows: 600px 500px 600px; 
        grid-template-columns: 340px;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        margin-top: 20px;
        margin-left: 10px;
     }
     .card1 .form {
        position: relative;
        left: 5px;
        width: 360px;
        height: 600px;
     }
     .card1 .form .img-rank {
         width: 330px ;
         margin-left: -10px;
     }
     .card1 .form .img-rank .division {
        margin-left: 70px ;
        margin-top: 40px ;
    }
     .card1 .form .container-rank {
        position: relative;
        top: 10px ;
        left: -5px ;
        width: 300px;
        height: 300px  ;
    }
    .card1 .form .container-rank select {
        position: relative;
        left: 25px ;
        top: 60px ;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card2 {
        height: 500px;
    }
    .card2 .form {
        position: relative;
        left: 5px;
        width: 360px;
        height: 500px;
     }
     .card2 .form .img-rank {
         width: 330px ;
         margin-left: -10px;
     }
     .card2 .form .img-rank .division {
        margin-left: 70px ;
    }
     .card2 .form .container-rank {
        position: relative;
        top: 10px ;
        left: -5px ;
        width: 300px;
        height: 200px ;
    }
    .card2 .form .container-rank select {
        position: relative;
        left: 20px ;
        top: 40px ;
        width: 300px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card3 .configuration {
        position: relative;
        left: 0px;
    }
    .card3 .test {
        position: relative;
        left: 0px;
        top: 520px;
    }
}

@media (min-width:320px) and (max-width: 359px) {
    #grilla {
        display: grid;
        grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card3";
        grid-template-rows: 600px 500px 600px; 
        grid-template-columns: 300px;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        margin-top: 20px;
        margin-left: 10px;
     }
     .card1 .form {
        position: relative;
        left: 5px;
        width: 360px;
        height: 600px;
     }
     .card1 .form .img-rank {
         width: 330px;
         margin-left: -20px;
     }
     .card1 .form .img-rank .division {
        margin-left: 70px;
        margin-top: 40px;
    }
     .card1 .form .container-rank {
        position: relative;
        top: 10px;
        left: -5px;
        width: 300px;
        height: 300px;
    }
    .card1 .form .container-rank select {
        position: relative;
        left: 25px;
        top: 60px;
        width: 250px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card2 {
        height: 500px;
    }
    .card2 .form {
        position: relative;
        left: 5px;
        width: 360px;
        height: 500px;
     }
     .card2 .form .img-rank {
         width: 330px;
         margin-left: -20px;
     }
     .card2 .form .img-rank .division {
        margin-left: 70px;
    }
     .card2 .form .container-rank {
        position: relative;
        top: 10px;
        left: -5px;
        width: 300px;
        height: 200px;
    }
    .card2 .form .container-rank select {
        position: relative;
        left: 20px;
        top: 40px;
        width: 250px;
        height: 50px;
        margin-bottom:5px;
        border-radius: 10px;
        outline: none;
    }
    .card3 .configuration {
        position: relative;
        left: -15px;
    }
    .card3 .test {
        position: relative;
        left: -15px;
        top: 520px;
    }
}


/*
------------------------------------------------
        Second Step Card Section
------------------------------------------------
*/
@media (max-width:1024px) {
    #steptwo {
        display: grid;
        grid-template-areas:
        "card4 card5"
        "card4 card5";
        grid-template-columns: 500px 500px;
        grid-template-rows: 600px 320px; 
        margin-left: 20px;
        justify-items: center;
     }
     .card4 {
         height: 900px;
     }
     .card4 .form-container {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 70px 70px 70px; 
        margin-top: 30px;
        margin-left: 150px;
        justify-items: center;
    }
    .card4 .form-container .form {
        width: 500px;
        height: 300px;
        margin-left: 0px;
    }
    .card4 .form-container input {
        width: 450px;
        height: 40px;
    }
    .card4 .payment-metod {
        display: none;
    }
    .card5 {
        position: relative;
    }
    .card5 .rank {
        position: relative;
        left: 80px;
        margin-left: 0px !important;
    }
    .card5 .padd {
        margin-left: 70px;
    }
    .card5 .dude {
        position: relative;
        left: 100px;
        width: 300px;
    }
}

@media (max-width:800px) {
    #steptwo {
        display: grid;
        grid-template-areas:
        "card4 card5"
        "card4 card5";
        grid-template-columns: 340px 330px;
        grid-template-rows: 600px 320px; 
        margin-left: 20px;
        justify-items: center;
     }
     .card4 {
         height: 900px;
     }
     .card4 .form-container {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 70px 70px 70px; 
        margin-top: 30px;
        margin-left: 50px;
        justify-items: center;
    }
    .card4 .form-container .form {
        width: 270px;
        height: 300px;
        margin-left: -5px;
    }
    .card4 .form-container input {
        width: 270px;
        height: 40px;
    }
    .card4 .payment-metod {
        display: none;
    }
    .card5 {
        position: relative;
    }
    .card5 .rank {
        position: relative;
        left: 80px;
        margin-left: 0px !important;
    }
    .card5 .padd {
        margin-left: 70px;
    }
    .card5 .dude {
        position: relative;
        left: 100px;
        width: 300px;
    }
}

@media (min-width:768px) and (max-width: 799px) {
    #steptwo {
        display: grid;
        grid-template-areas:
        "card4 card5"
        "card4 card5";
        grid-template-columns: 320px 320px;
        grid-template-rows: 600px 320px; 
        margin-left: 20px;
        justify-items: center;
     }
     .card4 {
         height: 900px;
     }
     .card4 .form-container {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 70px 70px 70px; 
        margin-top: 30px;
        margin-left: 50px;
        justify-items: center;
    }
    .card4 .form-container .form {
        width: 270px;
        height: 300px;
        margin-left: -5px;
    }
    .card4 .form-container input {
        width: 270px;
        height: 40px;
    }
    .card4 .payment-metod {
        display: none;
    }
    .card5 {
        position: relative;
    }
    .card5 .rank {
        position: relative;
        left: 80px;
        margin-left: 0px !important;
    }
    .card5 .padd {
        margin-left: 70px;
    }
    .card5 .dude {
        position: relative;
        left: 100px;
        width: 300px;
    }
}

@media (max-width:540px) {
    #steptwo {
        display: grid;
        grid-template-areas:
        "card4"
        "card4"
        "card5"
        "card5";
        grid-template-columns: 100%;
        grid-template-rows: 1000px 250px; 
        margin-left: 0px !important;
        margin-top: -100px !important;
        justify-items: center;
     }
     .card4 {
         height: 900px;
     }
     .card4 .form-container {
        display: grid;
        grid-template-columns: 400px !important; 
        grid-template-rows: 70px 70px 70px; 
        margin-top: 10px;
        margin-left: 100px;
        justify-items: center;
    }
    .card4 .form-container .form {
        width: 370px;
        height: 300px;
        margin-left: -50px;
    }
    .card4 .form-container input {
        width: 370px;
        height: 40px;
        margin-left: -50px;
    }
    .card5 {
        position: relative;
        top: -320px;
    }
    .card5 .rank {
        position: relative;
        left: 80px;
        margin-left: 0px !important;
    }
    .card5 .padd {
        margin-left: 70px;
    }
    .card5 .dude {
        position: relative;
        left: 100px;
        width: 300px;
    }
}

@media (min-width:411px) and (max-width: 414px) {
    #steptwo {
        display: grid;
        grid-template-areas:
        "card4"
        "card4"
        "card5"
        "card5";
        grid-template-columns: 100%;
        grid-template-rows: 1000px 250px; 
        margin-left: 0px !important;
        margin-top: -100px !important;
        justify-items: center;
     }
     .card4 {
         height: 900px;
     }
     .card4 .form-container {
        display: grid;
        grid-template-columns: 350px !important; 
        grid-template-rows: 70px 70px 70px; 
        margin-top: 10px;
        margin-left: 60px;
        justify-items: center;
    }
    .card4 .form-container .form {
        width: 370px;
        height: 300px;
    }
    .card4 .form-container input {
        width: 370px;
        height: 40px;
    }
    .card5 {
        position: relative;
        top: -320px;
    }
    .card5 .rank {
        position: relative;
        left: 80px;
        margin-left: 0px !important;
    }
    .card5 .padd {
        margin-left: 70px;
    }
    .card5 .dude {
        position: relative;
        left: 100px;
        width: 300px;
    }
}

@media (max-width:375px) {
    #steptwo {
        display: grid;
        grid-template-areas:
        "card4"
        "card4"
        "card5"
        "card5";
        grid-template-columns: 100%;
        grid-template-rows: 1000px 250px; 
        margin-left: 0px !important;
        margin-top: -100px !important;
        justify-items: center;
     }
     .card4 {
         height: 900px;
     }
     .card4 .form-container {
        display: grid;
        grid-template-columns: 279px !important;
        grid-template-rows: 70px 70px 70px; 
        margin-top: 10px;
        margin-left: 70px;
        justify-items: center;
    }
    .card4 .form-container .form {
        width: 340px;
        height: 300px;
    }
    .card4 .form-container input {
        width: 350px;
        height: 40px;
    }
    .card5 {
        position: relative;
        top: -320px;
    }
    .card5 .rank {
        position: relative;
        left: 80px;
        margin-left: 0px !important;
    }
    .card5 .padd {
        margin-left: 70px;
    }
    .card5 .dude {
        position: relative;
        left: 100px;
        width: 300px;
    }
}


@media (max-width:360px) {
    #steptwo {
        display: grid;
        grid-template-areas:
        "card4"
        "card4"
        "card5"
        "card5";
        grid-template-columns: 100%;
        grid-template-rows: 700px 600px; 
        margin-left: 0px !important;
        margin-top: -100px !important;
        justify-items: center;
     }
     .card4 {
         height: 900px;
     }
     .card4 .form-container {
        display: grid;
        grid-template-columns: 300px !important;
        grid-template-rows: 70px 70px 70px; 
        margin-top: 10px;
        margin-left: 60px;
        justify-items: center;
    }
    .card4 .form-container .form {
        width: 340px;
        height: 300px;
    }
    .card4 .form-container input {
        width: 320px;
        height: 40px;
    }
    .card5 {
        position: relative;
        top: -320px;
    }
    .card5 .rank {
        position: relative;
        left: 80px;
        margin-left: 0px !important;
    }
    .card5 .padd {
        margin-left: 70px;
    }
    .card5 .dude {
        position: relative;
        left: 100px;
        width: 300px;
    }
}


@media (max-width:320px) {
    #steptwo {
        display: grid;
        grid-template-areas:
        "card4"
        "card4"
        "card5"
        "card5";
        grid-template-columns: 100%;
        grid-template-rows: 1000px 250px; 
        margin-left: 0px !important;
        margin-top: -100px !important;
        justify-items: center;
     }
     .card4 {
         height: 900px;
     }
     .card4 .form-container {
        display: grid;
        grid-template-columns: 280px !important;
        grid-template-rows: 70px 70px 70px; 
        margin-top: 10px;
        justify-items: center;
    }
    .card4 .form-container .form {
        width: 280px;
        height: 300px;
        margin-left: -50px;
    }
    .card4 .form-container input {
        width: 280px;
        height: 40px;
        margin-left: -50px;
    }
    .card5 {
        position: relative;
        top: -260px;
    }
    .card5 .rank {
        position: relative;
        left: 80px;
        margin-left: 0px !important;
    }
    .card5 .padd {
        margin-left: 90px;
    }
    .card5 .dude {
        position: relative;
        left: 100px;
        width: 300px;
    }
}