/* 
---------------------------------------------
mini header
--------------------------------------------- 
*/
.mini-header {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    height: 400px;
}

.mini-header .header-text {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    text-align: center;
    width: 100%;
}

.mini-header .header-text h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 54px;
    letter-spacing: 1.4px;
    color: #fff;
}

.mini-header .header-text p {
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    line-height: 28px;
    letter-spacing: 0.25px;
    margin-bottom: -70px;
    position: relative;
}

@media (max-width: 991px) {
    .mini-header .header-text {
        top: 65% !important;
        transform: perspective(1px) translateY(-60%) !important;
        text-align: center;
    }
    .mini-header .header-text h1 {
        text-align: center;
        color: #fff;
        margin-bottom: 15px;
    }
    .mini-header .header-text h1 span {
        color: #fff;
    }
    .mini-header .header-text p {
        text-align: center;
        color: #fff;
        margin-bottom: 20px;
    }
}

@media (max-width: 820px) {
    .mini-header .header-text {
        top: 65% !important;
        transform: perspective(1px) translateY(-60%) !important;
    }
        .mini-header .header-text h1 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    .mini-header .header-text p {
        margin-bottom: 20px;
    }
}

@media (max-width: 765px) {
    .mini-header {
        margin-bottom: 100px;
    }
    .mini-header .header-text {
        top: 50% !important;
        transform: perspective(1px) translateY(-50%) !important;
        text-align: center;
    }
    .mini-header .header-text .buttons {
        display: none;
    }
    .mini-header .header-text h1 {
        font-weight: 600;
        font-size: 24px !important;
        line-height: 30px !important;
        margin-bottom: 30px !important;
    }
    .mini-header .header-text h1 span {
        color: #fff;
    }
    .mini-header .header-text p {
        text-align: center;
        color: #fff;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 40px;
    }
}

@media (max-width: 411px) {
    .mini-header .header-text {
        top: 65% !important;
        transform: perspective(1px) translateY(-50%) !important;
        text-align: center;
    }
}

@media (max-width:360px) {
    .mini-header .header-text {
        top: 65% !important;
        transform: perspective(1px) translateY(-50%) !important;
        text-align: center;
    }
}


/* ---------------------------------------------
            Boosting Section
--------------------------------------------- */
#grilla {
    display: grid;
    grid-template-areas:
    "card1 card3"
    "card2 card3";
    grid-template-rows: 300px 300px; 
    grid-template-columns: 49% 49%;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
 }

.card1 {
    grid-area: card1;
 }

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

/*---------------------------------------
    Cards Sections Class
---------------------------------------*/
.card1 {
    background: linear-gradient(#ffffff, #e3e3e7);
    border-radius: 50px;

    -webkit-box-shadow: 10px 10px 15px -8px rgba(153,153,153,1);
    -moz-box-shadow: 10px 10px 15px -8px rgba(153,153,153,1);
    box-shadow: 10px 10px 15px -8px rgba(153,153,153,1);
}

.card1 .title {
    font-size: 22px;
    margin-top: 15px;
    font-weight: 600;
    text-align: center;
}

.card1 span {
   color: #A82CDA;
}

.card1 .form {
    position: relative;
    left: 5px;
    width: 610px;
    height: 250px;
}

.card1 .form img {
    width: 200px;
    height: 220px;
}

.card1 .form .img-rank {
    width: 200px;
    height: 248px;
}

.card1 .form .img-rank .division {
    margin-top: 10px;
    margin-left: 30px;
}

.card1 .form .container-rank {
    position: relative;
    top: -248px;
    left: 205px;
    width: 400px;
    height: 248px;
}

.card1 .form .container-rank select {
    position: relative;
    left: 60px;
    top: 40px;
    width: 300px;
    height: 50px;
    margin-bottom:5px;
    border-radius: 10px;
    outline: none;
}

.card1 .form .container-rank select:hover {
    background-color: #A82CDA;
    color: #ffffff;
}

.card1 .form .container-rank button {
    position: relative;
    top: 50px;
    left: 110px;
    background-color: #A82CDA;
    color: #ffffff;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.card1 .form .container-rank .icon {
    width: 16px;
    height: 16px;
}

.card1 .form .container-rank button:hover {
    background-color: #D58DDA;
    color: #ffffff;
}


/* Card 2 */

.card2 {
    background: linear-gradient(#ffffff, #e3e3e7);
    border-radius: 50px;

    -webkit-box-shadow: 10px 10px 15px -8px rgba(153,153,153,1);
    -moz-box-shadow: 10px 10px 15px -8px rgba(153,153,153,1);
    box-shadow: 10px 10px 15px -8px rgba(153,153,153,1);
}

.card2 .title {
    font-size: 22px;
    margin-top: 15px;
    font-weight: 600;
    text-align: center;
}

.card2 span {
   color: #A82CDA;
}

.card2 .form {
    position: relative;
    left: 5px;
    width: 610px;
    height: 250px;
}

.card2 .form img {
    width: 200px;
    height: 220px;
}

.card2 .form .img-rank {
    width: 200px;
    height: 248px;
}

.card2 .form .img-rank .division {
    margin-top: 10px;
    margin-left: 30px;
}

.card2 .form .container-rank {
    position: relative;
    top: -248px;
    left: 205px;
    width: 400px;
    height: 248px;
}

.card2 .form .container-rank select {
    position: relative;
    left: 60px;
    top: 70px;
    width: 300px;
    height: 50px;
    margin-bottom:5px;
    border-radius: 10px;
    outline: none;
}

.card2 .form .container-rank select:hover {
    background-color: #A82CDA;
    color: #ffffff;
}

/* Card 3 */

.card3 {
    background: linear-gradient(#ffffff, #e3e3e7);
    border-radius: 50px;

    -webkit-box-shadow: 10px 10px 15px -8px rgba(153,153,153,1);
    -moz-box-shadow: 10px 10px 15px -8px rgba(153,153,153,1);
    box-shadow: 10px 10px 15px -8px rgba(153,153,153,1);
}

.card3 .title {
    font-size: 22px;
    margin-top: 15px;
    font-weight: 600;
    text-align: center;
}

.card3 hr {
    width: 500px;
}

.card3 .subtitle {
    padding: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

.card3 .checkout-container {
    width: 600px;
    height: 530px;
    margin-left: 5px;
}

.card3 .services-container {
    display: grid;
    grid-template-columns: 280px 300px;
    grid-template-rows: 80px; 
    /*
    border: 1px solid red;
    */
    margin-left: 15px;
    height: 520px;
}

@media (max-width: 360px) {
    .card3 {
        height: 1100px;
    }
    .card3 .services-container .server {
        margin-left: 0px !important;
     }
    .card3 .checkout-container {
        width: 325px;
        height: 530px;
    }
    .card3 .services-container {
        display: grid;
        grid-template-columns: 320px;
        grid-template-rows: 80px 100px; 
        margin-left: 0px;
        justify-items: center;
    }
    .card3 .checkout-container .test {
        position: relative;
        top: 0px !important;
        left: 0px !important;
    }
    .card3 .services-container .test button {
        position: relative;
        left: 50px !important;
        top: -20px;
    }
}

/* Card 3 - Options */

.card3 .services-container .configuration h1 {
    text-align: center;
    font-size: 18px;
    color: #A82CDA;
}

.card3 .services-container hr {
    width: 230px;
 }

.card3 .services-container .server {
   margin-left: 0px;
   margin-bottom: -20px;
}

.card3 .services-container .server .icon {
    margin-top: 5px;
    margin-left: 5px;
    width: 32px;
}

.card3 .services-container .server p {
    position: relative;
    font-weight: 500;
    top: -25px;
    left: 45px;
}

.card3 .services-container .server select {
    position: relative;
    top: -22px;
    left: 45px;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    outline: none;
}

.card3 .services-container .server select:hover {
    background-color: #A82CDA;
    color: #ffffff;
}

/* Card 3 - Options Section 2 */

.card3 .services-container .fast {
    margin-top: 20px;
}

.card3 .services-container .fast .icon {
    margin-top: 5px;
    margin-left: 5px;
    width: 32px;
}

.card3 .services-container .fast p {
    position: relative;
    font-weight: 500;
    top: -25px;
    left: 45px;
}

.card3 .services-container .fast .checkbox {
    position: relative;
    top: -48px;
    left: 210px;
    width: 20px;
    height: 20px;
}

.card3 .services-container .fast span {
    color: #A82CDA;
    font-weight: 600;
}

/* Card 3 - Streaming checkbox */

.card3 .fast .streaming {
    margin-top: -40px;
    height: 50px;
}

/* Card 3 - Options Extra Section */

.card3 .services-container .extra {
    height: 170px;
}

.card3 .services-container .extra2 {
    margin-top: -40px;
    height: 80px;
}

.card3 .services-container .extra span {
    color: #A82CDA;
    font-weight: 600;
}

.card3 .services-container .extra .icon {
    margin-top: 5px;
    margin-left: 5px;
    width: 32px;
}

.card3 .services-container .extra p {
    position: relative;
    font-weight: 500;
    top: -25px;
    left: 45px;
}

.card3 .services-container .extra .checkbox {
    position: relative;
    top: -48px;
    left: 213px;
    width: 20px;
    height: 20px;
}

.card3 .services-container .extra .image-container {
    position: relative;
    top: -50px;
    margin-top: 5px;
    margin-left: 3px;
}

.card3 .services-container .extra .image-champ {
    width: 32px;
    height: 32px;
}

/* Card 3 - Payments Status */

.card3 .checkout-container .test {
    position: relative;
    top: -500px;
    left: 300px;
    height: 500px;
}

.card3 .checkout-container .test h1 {
    text-align: center;
    font-size: 18px;
    color: #A82CDA;
}

.card3 .services-container .test p {
    text-align: center;
    line-height: 26px;
    font-weight: 600;
}

.card3 .services-container .test a {
    position: relative;
    top: 15px;
    left: 5px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.card3 .services-container .test .price {
    position: relative;
    top: 5px;
}

.card3 .services-container .test hr {
    width: 200px;
}

.card3 .services-container .test .old {
    font-size: 18px;
    color: gray;
    text-decoration: line-through;
}

.card3 .services-container .test .now {
    font-size: 24px;
    color: #a759d1;
}

.card3 .services-container .test button {
    position: relative;
    background-color: #A82CDA;
    width: 150px;
    height: 40px;
    left: 80px;
    border-radius: 50px;
    color: #ffffff;
    border: none;
}

.card3 .services-container .test button:hover {
    background-color: #744894;
}

.card3 .services-container .time {
    position: relative;
    top: -20px;
}

.card3 .services-container .time .count {
    font-size: 32px;
    margin-top: 10px;
}

.card3 .services-container .services {
    position: relative;
    top: -20px;
}

.card3 .services-container .services .title2 {
    color: #A82CDA;
}

/* 
---------------------------------------------
footer
--------------------------------------------- 
*/
footer {
    background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
    margin-top: -150px;
    padding-top: 30px;
  }
  
  .discord-icon {
    width: 25px;
    height: 25px;
  }

  footer .social {
    overflow: hidden;
    margin-top: 10px;
    text-align: center;
  }
  
  footer .social li {
    margin: 0px 10px;
    display: inline-block;
  }
  
  footer .social li a {
    color: #9d5bd9;
     text-align: center;
    background-color: #fff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  footer .social li a:hover {
    background-color: #ff589e;
    color: #fff;
  }
  
  footer .copyright {
    text-align: center;
    border-top: 1px solid rgba(250,250,250,0.2);
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.88px;
    text-transform: uppercase;
  }
  
  @media (max-width: 991px) {
    footer .text {
      margin-bottom: 30px;
    }
    footer h5 {
      margin-bottom: 15px;
    }
    footer .footer-nav {
      margin-bottom: 30px;
    }
  }

/* 
---------------------------------------------
Step Two Section CSS
--------------------------------------------- 
*/

#steptwo {
    display: grid;
    grid-template-areas:
    "card4 card5"
    "card4 card5";
    grid-template-columns: 59% 35%;
    grid-column-gap: 10px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
 }

.card4 {
    grid-area: card4;
 }

.card5 {
    grid-area: card5;
}

/* Card 4 */

.card4 {
    height: 645px;
    border-radius: 50px;
}

.card4 .title h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

.card4 .title p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
    color: gray;
}

.card4 .title span {
    color: #A82CDA;
}

.card4 .title a {
    color: #A82CDA;
    font-weight: 500;
    text-decoration: underline;
}

.card4 .form-container {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 70px 70px 150px;
    margin-top: 10px;
}

.card4 .form-container label {
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
    margin-bottom: -5px;
}

.card4 .form-container input {
    width: 230px;
    height: 40px;
    padding: 10px;
    background: linear-gradient(#ffffff, #e3e3e7);
    border-radius: 10px;
    outline: none;
    border: 1px solid #d5d5d8;
    margin-bottom: 10px;
}

.card4 .form-container input:hover {
    border: 1.5px solid #A82CDA;
}

.card4 .form-container .form {
    width: 730px;
    height: 100px;
    margin-left: 5px;
    border-radius: 10px;
    background: linear-gradient(#ffffff, #e3e3e7);
}

.card4 .form-container .form:hover {
    border: 1.5px solid #A82CDA;
}

.card4 .payment-metod {
    position: relative;
    top: 0px;
    width: 100%;
    height: 260px;
}

.card4 .payment-metod p {
    font-size: 18px;
    font-weight: 400;
}

.card4 .payment-metod .payment-options {
    margin-top: 30px;
    margin-left: 10px;
}

.card4 .payment-metod .payment-options a {  
    color: #744894;
}


/* Card 5 */

.card5 {
    width: 500px;
    border-radius: 50px;

    -webkit-box-shadow: 10px 10px 15px -8px rgba(153,153,153,1);
    -moz-box-shadow: 10px 10px 15px -8px rgba(153,153,153,1);
    box-shadow: 10px 10px 15px -8px rgba(153,153,153,1);
}

.card5 .title h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

.card5 .title hr {
    margin-top: 7px;
    width: 300px;
}

.card5 .resume p {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.card5 .rank {
    margin-left: 50px;
    width: 170px;
}

.card5 .rank-status {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.card5 .resume hr {
    margin-top: 0px;
    width: 300px;
}

.card5 .payment-info hr {
    margin-top: 0px;
    width: 300px;
}

.card5 .payment-info a {
    position: relative;
    top: 5px;
    left: 5px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.card5 .payment-info .price {
    position: relative;
    top: -20px;
}

.card5 .payment-info .old {
    font-size: 18px;
    font-weight: 600;
    color: gray;
    text-align: center;
    line-height: 5px;
    text-decoration: line-through;
}

.card5 .payment-info .now {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: #a759d1;
}

.card5 .payment-info .time {
    position: relative;
    top: -35px;
}

.card5 .payment-info .count {
    font-size: 32px;
    color: #a759d1;
    margin-top: -10px;
}

.card5 .payment-info .time p {
    text-align: center;
    line-height: 28px;
    font-weight: 600;
}
    

.card5 button {
    position: relative;
    background-color: #A82CDA;
    width: 150px;
    height: 40px;
    left: 180px;
    top: -10px;
    border-radius: 50px;
    color: #ffffff;
    border: none;
}

.card5 .payment-info button:hover {
    background-color: #744894;
}

.card5 .dude p {
    position: relative;
    font-size: 14px;
    text-align: center;
    top: -1px;
}



